#lead-content {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}

#intro {
  background-image: url(../assets/main_background.png);
  height: 100vh;
}

@media (min-width: 992px) {
  #intro {
    margin-top: -56px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}
